* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}
body{
  background-color: black;
}


h1,h2{
  font-family: cursive;

  color: aliceblue;
}
h1 {

  margin-top: 10px;
  text-align: center;
  font-size: 50px;
}

h2 {
  font-style:inherit;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 0px;
}
h3 {
  font-family: cursive;

  margin-top: 10px;
}

span {
  padding-top: 50px;
  margin-left: 50px;
}

.my_btn_one {
  font-family: cursive;

  height: 20%;
  width: 30%;
  border-color: green;
  background: black;
  padding: 10px 10px;
  color: green;
  font-size: 15px;
  border-radius: 10px;
}


.comandi {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 30px;
}

.regole h3 {
  text-align: center;
  padding: 10px;
}

.dadi {

  justify-content: center;
  margin-top: 15px;
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.dado {
  color: aliceblue;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  margin: auto;
  background-image: url(https://m.uplay.it/www.uplay.it_Dado_Bianco__25_mm_--400x400.png);
}

.lancio {
  position: relative;
  top: 25%;
  left: -2%;
  font-size: 40px;
}
.locale{
  margin: 3px;
}
